In [1]:
import pandas as pd
origin_data = pd.read_csv("NLP_train.csv")

# origin_data.head()

origin_data.drop(columns = "Unnamed: 0", inplace = True)
#origin_data.dropna(subset=["맛", "서비스", "청결"], how='all', inplace=True)

In [2]:
origin_data.head()

                                             reviews  서비스  위생  가성비  웨이팅
0  뼈없는 닭갈비, 쟁반막국수, 치즈볶음밥을 먹어봤습니다. 닭갈비는 무난무난한 평범한 ...    1   2    2    2
1  SIKSINER 꼬마식신입니다. \n 삼척에 있는 마마티라에 다녀왔는데요 . 진짜 ...    2   2    2    1
2  겨울에만 먹을 수 있는 알이 톡톡터지는 튼실한 알도루묵을 정라횟집에선 사계절 즐길 ...    2   2    2    2
3                      소문듣고 갔는데...지저분하고 소문보다 못하네요...    2   0    2    2
4  가족과 외식할 때마다 가는 맛집인데 진짜 맛있어용 ㅠㅠ 고기도 완전 선홍빛이고 진정...    2   2    2    2

In [3]:
origin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20837 entries, 0 to 20836
Data columns (total 5 columns):
reviews    20837 non-null object
서비스        20837 non-null int64
위생         20837 non-null int64
가성비        20837 non-null int64
웨이팅        20837 non-null int64
dtypes: int64(4), object(1)
memory usage: 814.0+ KB

In [15]:
df = origin_data[(origin_data['서비스'] !=2)|(origin_data['위생'] !=2)|(origin_data['가성비'] !=2)|(origin_data['웨이팅'] !=2)]

In [11]:
#origin_data[(origin_data['서비스'] ==2)&(origin_data['위생'] ==2)&(origin_data['가성비'] ==2)&(origin_data['웨이팅'] ==2)].sample(frac=0.2)

In [16]:

df = df[['reviews', '서비스']]

from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0)
print(df_train.shape, df_test.shape)

(2935, 2) (734, 2)

In [17]:
df_train.to_csv('train.tsv', sep='\t', index=False, header=False)

In [18]:
df_test.to_csv('test.tsv', sep='\t', index=False, header=False)

In [19]:
len(df_test)

734

In [21]:
df['서비스'].value_counts()

2    2086
1     898
0     685
Name: 서비스, dtype: int64